.bc {
    width: 100%;
    color: rgb(204, 177, 21);
}

.bc-container {
    width: 100%;
    margin: auto;
    background: black;
    box-shadow: 1px 1px 10px 3px black;
}

.bc-container:hover {
    box-shadow: 1px 1px 10px 3px rgb(128, 128, 128);
}

.bc-img {
    width: 100%;
    margin: auto;
}

.bc-img img {
    width: 100%;
    /* height: 210px;
	overflow: hidden; */
    height: 350px;
	overflow: hidden;
}

.bc-read {
    background: #83072D !important;
    box-shadow: 1px 1px 6px 3px #83072D;
    color:  black !important;
    font-family: luminari !important;
}

.bc-text h4 {
    /* font-family: 'Grenze Gotisch', cursive; */
    /* font-family: "fantasy one"; */
    font-family: luminari;
}

@media (max-width: 600px) {
    .bc-text h4 {
        font-size: 20px;
    }

    .bc-text p {
        font-size: 12px;
    }
}