.nav-logo {
    width: 3em;
    border-radius: 10px;
}

.h-requiem {
    background: black;
    padding: 3em;
}

.h-requiem h1 {
    font-family: luminari;
    /* color: #83072D; */
    color: rgb(201, 201, 201);
    font-size: 4em;
    text-shadow: 8px 5px 5px silver;
}

.h-requiem p {
    font-family: luminari;
    color: rgb(201, 201, 201);
    font-size: 2.5em;
    text-shadow: 6px 5px 5px silver;
}

.header-text {
    color: rgb(146, 146, 146);
    text-decoration: none;
    font-family: luminari;
    font-size: 20px;
    width: 50%;
}

.kalopsia {
    text-decoration: line-through;
}

.h-nav {
    background: black;
}

.h-button {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

@media (max-width: 600px) {
    .h-button {
        width: 70%;
        font-size: 20px;
    }

    .h-requiem h1 {
        font-size: 1.5em;
        text-shadow: 3px 2px 5px silver;
    }

    .h-requiem p {
        font-size: 1em;
        text-shadow: 2px 2px 2px silver;
    }

    .header-text {
        font-size: 15px;
    }
}