.nav-logo {
    width: 3em;
    border-radius: 10px;
}

.header-img {
    width: 100%;
}

.header-text {
    color: rgb(146, 146, 146);
    text-decoration: none;
    font-family: luminari;
    font-size: 15px;
    width: 50%;
}

.kalopsia {
    text-decoration: line-through;
}

.h-nav {
    background: black;
}

.h-button {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}


@media (min-width: 600px) {
    .header-img {
        width: 80%;
        height: 500px;
    }
}

@media (max-width: 600px) {
    .h-button {
        width: 70%;
        font-size: 20px;
    }
}