.nav-logo {
    width: 3em;
    border-radius: 10px;
}

/* .requiem-title {
    font-family: 'Grenze Gotisch', cursive;
    padding: 2em;
} */

.header-text {
    font-family: 'Times New Roman', Times, serif;
}