.home-h2 {
    font-family: 'luminari';
    color: white;
    position: absolute;
}

.home-blogs {
    background: #131a19;
    height: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (min-width: 600px) {
    .home-blogs {
        background: #0e1312;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .home-img {
        width: 80%;
        height: 500px;
    }
}